-
  var men = [
    {title: "Верхняя одежда", link: "https://dnk-russia.com/catalog/verkhnyaya_odezhda_/"},
    {title: "Комбезы", link: "https://dnk-russia.com/catalog/kombezy_/"},
    {title: "Свитшоты/толстовки", link: "https://dnk-russia.com/catalog/svitshoty_tolstovki/"},
    {title: "Кофты/футбы", link: "https://dnk-russia.com/catalog/kofty_futby/"},
    {title: "Костюмы", link: "https://dnk-russia.com/catalog/kostyumy_/"},
    {title: "Штаны", link: "https://dnk-russia.com/catalog/shtany_kidsy/"},
    {title: "Слипы", link: "https://dnk-russia.com/catalog/slipy_bodiki_/"},
    {title: "Нижнее белье", link: "https://dnk-russia.com/catalog/nizhnee_bele/"},
    {title: "Носки", link: "https://dnk-russia.com/catalog/noski_/"}
  ];

-
  var women = [
    {title: "Верхняя одежда", link: "https://dnk-russia.com/catalog/verkhnyaya_odezhda_/"},
    {title: "Комбезы", link: "https://dnk-russia.com/catalog/kombezy_/"},
    {title: "Свитшоты/толстовки", link: "https://dnk-russia.com/catalog/svitshoty_tolstovki/"},
    {title: "Кофты/футбы", link: "https://dnk-russia.com/catalog/kofty_futby/"},
    {title: "Костюмы", link: "https://dnk-russia.com/catalog/kostyumy_/"},
    {title: "Штаны", link: "https://dnk-russia.com/catalog/shtany_kidsy/"},
    {title: "Слипы", link: "https://dnk-russia.com/catalog/slipy_bodiki_/"},
    {title: "Платья/юбки", link: "https://dnk-russia.com/catalog/kombezy/"},
    {title: "Нижнее белье", link: "https://dnk-russia.com/catalog/nizhnee_bele/"},
    {title: "Носки", link: "https://dnk-russia.com/catalog/noski_/"}
  ];

-
  var women = [
    {title: "Верхняя одежда", link: "https://dnk-russia.com/catalog/verkhnyaya_odezhda_/"},
    {title: "Комбезы", link: "https://dnk-russia.com/catalog/kombezy_/"},
    {title: "Свитшоты/толстовки", link: "https://dnk-russia.com/catalog/svitshoty_tolstovki/"},
    {title: "Кофты/футбы", link: "https://dnk-russia.com/catalog/kofty_futby/"},
    {title: "Костюмы", link: "https://dnk-russia.com/catalog/kostyumy_/"},
    {title: "Штаны", link: "https://dnk-russia.com/catalog/shtany_kidsy/"},
    {title: "Слипы", link: "https://dnk-russia.com/catalog/slipy_bodiki_/"},
    {title: "Платья/юбки", link: "https://dnk-russia.com/catalog/kombezy/"},
    {title: "Нижнее белье", link: "https://dnk-russia.com/catalog/nizhnee_bele/"},
    {title: "Носки", link: "https://dnk-russia.com/catalog/noski_/"}
  ];

-
  var children = [
    {title: "Верхняя одежда", link: "https://dnk-russia.com/catalog/verkhnyaya_odezhda_/"},
    {title: "Комбезы", link: "https://dnk-russia.com/catalog/kombezy_/"},
    {title: "Свитшоты/толстовки", link: "https://dnk-russia.com/catalog/svitshoty_tolstovki/"},
    {title: "Кофты/футбы", link: "https://dnk-russia.com/catalog/kofty_futby/"},
    {title: "Костюмы", link: "https://dnk-russia.com/catalog/kostyumy_/"},
    {title: "Штаны", link: "https://dnk-russia.com/catalog/shtany_kidsy/"},
    {title: "Слипы", link: "https://dnk-russia.com/catalog/slipy_bodiki_/"},
    {title: "Платья/юбки", link: "https://dnk-russia.com/catalog/kombezy/"},
    {title: "Нижнее белье", link: "https://dnk-russia.com/catalog/nizhnee_bele/"},
    {title: "Носки", link: "https://dnk-russia.com/catalog/noski_/"}
  ];

-
  var accessories = [
    {title: "Шапки/Варежки/Шарфы", link: "https://dnk-russia.com/catalog/shapki_kepki/"},
    {title: "Украшения", link: "https://dnk-russia.com/catalog/ukrasheniya/"},
    {title: "Сумки/рюкзаки", link: "https://dnk-russia.com/catalog/sumki_ryukzaki/"},
    {title: "Носки", link: "https://dnk-russia.com/catalog/noski/"},
    {title: "Другое", link: "https://dnk-russia.com/catalog/drugoe/"}
  ];

-
  var collections = [
    {title: "DNK BASE", link: "https://dnk-russia.com/catalog/dnk_base/"},
    {title: "DNK ORIGINAL", link: "https://dnk-russia.com/catalog/dnk_originall/"},
    {title: "DNK SKULL", link: "https://dnk-russia.com/catalog/dnk_original/"}
  ];

-
  var sale = [
    {title: "Дети", link: "https://dnk-russia.com/catalog/dnk_base/"},
    {title: "Подростки", link: "https://dnk-russia.com/catalog/dnk_originall/"},
    {title: "Женщины", link: "https://dnk-russia.com/catalog/dnk_original/"},
    {title: "Мужчины", link: "https://dnk-russia.com/catalog/dnk_original/"}
  ];

-
  var menu_main = [
    {title: "New", link: ""},
    {title: "Дети", link: "",  submenu: children},
    {title: "Подростки", link: "",  submenu: children},
    {title: "Женщины", link: "", submenu: women},
    {title: "Мужчины", link: "", submenu: men},
    {title: "Аксессуары", link: "",  submenu: accessories},
    {title: "Коллекции", link: "", submenu: collections},
    {title: "sale", link: "", submenu: sale}
  ];

ul.main-nav__list
  each val in menu_main
    li.main-nav__item
      a(href=val.link).main-nav__link.js-main-nav=val.title
      if(val.submenu)
        .main-nav__wrapper-lvl2.first-level
          .main-nav__wrapper-top
            button.main-nav__back.d-lg-none.js-back назад
            hr.main-nav__divider.d-lg-none
          .main-nav__wrapper-body
            ul.main-nav__list.main-nav__list--lvl2
              each item in val.submenu
                li.main-nav__item
                  a(href='catalog.html').main-nav__link=item.title