.important-block__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 5px;
  letter-spacing: .5px;
  color: #a80f0f;
  font-weight: 500;
}

.important-block {
  border: 1px solid #a80f0f;
  padding: 20px;
}