.counter
  .counter__item.counter__item--btn.js-counter-min
    span.counter__icon.counter__icon--plus
  input(type='number', value='1').counter__item.counter__item--count
  .counter__item.counter__item--btn.js-counter-max
    span.counter__icon.counter__icon--minus