mixin shipping(price, time, name, text)
  .shipping
    p.shipping__title.subtitle=name
    .shipping__price=price + ' ₽'
    .shipping__time=time + ' дня'
    //- .shipping__info
    //- p.text=text
  //- .shipping
  //-   p.shipping__title.subtitle=name
  //-   .shipping__info
  //-     span.shipping__price=price + ' ₽'
  //-     span.shipping__date=time + ' дня'
  //-   //- p.text=text