.tick-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tick-list__item {
  $size: 16px;
  position: relative;
  padding-left: 27px;
  padding-bottom: 12px;
  font-size: 16px;

  &:before {
    content: '';
    width: $size;
    height: $size;
    background-image: url(/img/icons/tick.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    left: 0;
    position: absolute;
    top: 5px;
  }

  @media(min-width: 992px) {
    padding-left: 35px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}