extends ../template.pug
include ../../blocks/card/card.pug
include ../../blocks/c-card/c-card.pug

block content
  .box.hurdle
    .container
      +card('Комбез DNK с нашивкой горчица man', 'KFT.018.NY.001.07', '1700', '2500', 'man')
  .box.hurdle
    .container
      h2.title Вам также может понравится
      include ../../blocks/product-offers/product-offers.pug
  .box.hurdle
    .container
      h2.title С этим товаром покупают
      include ../../blocks/product-offers/product-offers.pug
  .box.hurdle
    .container
      include ../client-help.pug
