.order-card__title {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 5px;
}

.order-card__price {
  margin: 0;
  font-size: 13px;
}

.order-card__size {
  margin: 0;
}

.order-card__count {
  margin: 0;
}
