ul.left-menu
  li.left-menu__item
    a(href='payment-info.html').left-menu__link Оплата
  li.left-menu__item
    a(href='delivery.html').left-menu__link Доставка
  li.left-menu__item
    a(href='return.html').left-menu__link Возврат
  li.left-menu__item
    a(href='certificates.html').left-menu__link Наши сертификаты