.wrapper
  .row
    .box.col-12.col-lg-4.text-center.hurdle.hurdle--transform
      h3.title.mb-3 Доставка
      p.text Самовывоз - Ростов-на-Дону
      p.text Доставка по России от 200 ₽. Ближнее и дальнее зарубежье 1000 ₽ - 1500 ₽.
      p.text Срок передачи заказов в транспортную компанию от 3 (отправка по новым коллекциям увеличивается до 7-ми) рабочих дней
      a.link подробнее
    .box.col-12.col-lg-4.text-center.hurdle.hurdle--transform
      h2.title.mb-3 Возврат
      p.text Возврат товара осуществляется в течении 7 (семи) календарных дней после получения заказа.
      p.text Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид (вещь не была в носке) и потребительские свойства, а также не сорваны бирки и этикетки.
      a.link подробнее
    .box.col-12.col-lg-4.text-center.hurdle.hurdle--transform
      h2.title.mb-3 Помощь
      p.text Вы можете связаться с нами по телефону, электронной почте или другим удобным для Вас способом
      .button-group.d-md-none
        a.button позвонить
        a.button.button--white написать