extends template.pug
include ../blocks/important/important.pug

block content
  .page
    .page__main
      .container
        .row
          .col-3.d-none.d-md-block
            include bottom-user-menu.pug
          .col-12.col-md-9
            h1.title Доставка
            h2.subtitle Способ получения заказа
            .block.mb-4
              ul.tick-list
                li.tick-list__item Самовывоз склад - Ростов-на-Дону,  ул. Красноармейская 9
                li.tick-list__item Самовывоз магазин - Ростов-на-Дону, Торговая галерея «H2O», г. Ростов-на-Дону, М. Нагибина, 34
                li.tick-list__item Отправка почтой России подходит для заказов по стране и всему миру
                li.tick-list__item Курьерской службой СДЭК - подходит для многих населенных пунктов России и крупных городов по всему миру
                li.tick-list__item Транспортной компанией BoxBerry самовывоз из пунктов самовыдачи или курьерская доставка, только для России
            .block.mb-4
              +importantBlock(false)
                h3.subtitle Время работы пунктов самовывоза г. Ростов-на-Дону
                p.para При готовности заказа к самовывозу приходит уведомление на электронную почту, указанную при оформлении заказа
                p.para Уточнить готовность заказа к самовывозу можно в клиентской службе по телефону +7 (918) 558-05-18 или по электронной почте klient@dnk-russia.com , а также в личном кабинете в разделе история заказов
                ul.marked-list
                  li.marked-list__item Склад: понедельник-пятница 9:00 - 17:00
                  li.marked-list__item Магазин: понедельник-воскресенье 10:00 - 22:00
            .block.mb-4
              h3.subtitle Время на обработку заказа
              ul.tick-list
                li.tick-list__item Ваш заказ поступает в обработку тут же в течении рабочего дня и срок до 3 рабочих дней мы передадим его в службу доставки.
                li.tick-list__item Срок отправки заказов по новым коллекциям и распродажам увеличивается до 7 рабочих дней
                li.tick-list__item Сроки доставки зависят от выбранного Вами способа доставки.
                li.tick-list__item Курьерской службой СДЭК - подходит для многих населенных пунктов России и крупных городов по всему миру
                li.tick-list__item Транспортной компанией BoxBerry самовывоз из пунктов самовыдачи или курьерская доставка, только для России
            .block.mb-4
              h3.subtitle Отслеживание заказа
              ul.tick-list
                li.tick-list__item Отследить заказ можно на сайте выбранной транспортной компании
                li.tick-list__item После отправки вам на e-mail, указанный при оформлении заказа, придет трек номер для отслеживания посылки
            .block.mb-4
              h3.subtitle Cтоимость доставки заказа
              ul.tick-list
                li.tick-list__item Самовывоз - бесплатно
                li.tick-list__item Доставка курьерскими службами от 200 рублей. Точная стоимость рассчитывается в корзине при оформлении заказа в зависимости от службы доставки
                li.tick-list__item При заказе от 7 000 рублей бесплатная доставка (при выборе пунктов самовывоза и Почты России) по России
                li.tick-list__item При заказе от 15 000 рублей бесплатная доставка (при выборе пунктов самовывоза и Почты России) в страны дальнего и ближнего зарубежья
            .block.mb-4
              +importantBlock
                p.para Интернет-магазин не несет ответственности случае потери Вашего заказа транспортной компанией.
                p.para При получении товара в транспортной компании внимательно осмотрите целостность упаковки!!!
                p.para В случае нарушения упаковки Вам необходимо:
                ul.tick-list
                  li.tick-list__item Отказаться от получения посылки
                  li.tick-list__item Составить акт нарушения целостности упаковки с предоставителем службы доставки
                  li.tick-list__item Написать претензию в транспортной компании
                  li.tick-list__item Сообщить о проблеме в клиентскую службу по телефону +7 (918) 558-05-18 или написать на почту klient@dnk-russia.com
                            