ul.left-menu
  li.left-menu__item
    a(href='about.html').left-menu__link О компании
  li.left-menu__item
    a(href='shops.html').left-menu__link Наши магазины
  li.left-menu__item
    a(href='collaboration.html').left-menu__link Сотрудничество
  li.left-menu__item
    a(href='contacts.html').left-menu__link Контакты