extends template.pug
  
block content

  .container
    .row
      .col-3.d-none.d-md-block
        include user-left-menu.pug
      .col-12.col-md-9.ml-auto
        h2 История заказов
        .block 
          //- состав заказа
        .block.mb-5
          ul.simple-list
            - for (var x = 0; x < 3; x++)
              li.simple-list__item
                a(href="order.html").order
                  .order__head
                    p.m-0 № 316718 от 04.12.2019
                    .ml-auto 
                      p.order__label Закрыт
                  ul.order__offer-list
                    li
                      a
                      img(src="/img/123_.jpg")
                    li
                      img(src="/img/123_.jpg")
                    li
                      img(src="/img/123_.jpg")
                    li
                      img(src="/img/123_.jpg")
          


