extends template.pug
include ../blocks/important/important.pug

block content
  .page
    .page__main
      .container
        .row
          .col-3.d-none.d-md-block
            include bottom-user-menu.pug
          .col-12.col-md-9
            h1.title Оплата
            .block.mb-4
              h3.subtitle Способы оплаты
              ul.tick-list
                li.tick-list__item Банковская карта Visa / Mastercard (через Яндекс.Касса)
                li.tick-list__item PayPal
                li.tick-list__item ApplePal
                li.tick-list__item Сбербанк онлайн
              ol.number-list
                li.number-list__item Для оплаты банковской картой Вы будете перенаправлены на защищенную платежную страницу процессинговой компании Яндекс.Касса. Страница оплаты отвечает последним международным требованиям безопасности платежных систем Visa и MasterCard.
                li.number-list__item В процессе оплаты банковской картой введите ее номер, срок действия, код CVV, указанный на обороте, а также имя и фамилию владельца и контактные данные владельца карты.
                li.number-list__item Убедитесь, что Вы ввели корректные данные, а затем нажмите на кнопку «Оплатить».
                li.number-list__item Если ваша банковская карта поддерживает технологию 3D Secure, Вы автоматически перейдете на сайт своего банка, где Вас попросят ввести секретный код активации, который будет отправлен Вам на телефон.
                li.number-list__item Если реквизиты карты введены верно и на счете достаточно денег, Вы увидите подтверждение оплаты заказа. После чего Вам будет предложено вернуться на страницу магазина.
            .block.mb-4
              h3.subtitle Платеж может быть не доступен в случае:
              ul.tick-list
                li.tick-list__item Срок действия карты истек. Убедитесь в том, что ваша карта еще действительна.
                li.tick-list__item Достигнут лимит по карте. Свяжитесь со своим банком и проверьте, не превышена ли сумма, на которую разрешено совершать покупки.
                li.tick-list__item Какие-либо из введенных данных неверны. Проверьте правильность заполнения всех необходимых полей.
                li.tick-list__item Проводятся работы на сайте стороны, принимающей платежи.
                li.tick-list__item Проводятся работы на сайте стороны, принимающей платежи.
            .block.mb-4
              +importantBlock('Использование кредитной карты на веб-сайте безопасно!')
                p.para Использование кредитной карты на веб-сайте безопасно!
                p.para Передача всех банковских данных осуществляется с использованием криптографического протокола SSL. К оплате с помощью карт Visa и Mastercard принимаются только операции 3D secure. После получения подтверждения подлинности от банка с карты будет снята соответствующая сумма. В противном случае заказ будет отменен.
                p.para При повторном списании денежных средств за заказ при оплате через Сбребанк онлайн писать на почту support@dnk-russia.com