
form(action="").form.row
  .col-12.col-md-6.mb-20
    input(placeholder="Имя и фамилия").input
  .col-12.col-md-6.mb-20
    input(placeholder="электронная почта").input
  .col-12.col-md-6.mb-20
    input(placeholder="Телефон").input
  .col-12.col-md-6.mb-20
    input(placeholder='индекс').input
  .col-12.col-md-6.mb-20
    input(placeholder='город').input
  .col-12.col-md-6.mb-20
    input(placeholder="Улица, дом").input
  .col-12
    textarea(placeholder="комментарий").input
