extends template.pug

include ../blocks/important/important.pug

block content
  .page
    .page__main
      .container
        .row
          .col-3.d-none.d-md-block
            include bottom-user-menu.pug
          .col-12.col-md-9
            .block.mb-4
              h1.title Возврат
              h2.subtitle Условия возврата
              ul.tick-list
                li.tick-list__item Возварт товара осуществляется в течении 7 календарных дней с момента получения заказа
                li.tick-list__item Пересыл осуществляется за счет покупателя
                li.tick-list__item Возврат денежных средств осуществляется в течение 10 рабочих дней с момента получения нами посылки с товаром
                li.tick-list__item Срок поступления денежных средств зависит от Вашего банка
                li.tick-list__item Для осуществления возврата товара необходимо распечатать и заполнить заявление о возврате товара
                li.tick-list__item Товары купленные по ликвидации обмену и возврату не подлежат
                li.tick-list__item Возврат осуществляется по адресу:
                li.tick-list__item Направить трек номер для отслеживания на почту klient@dnk-russia.com
            .block.mb-4
              +importantBlock
                p.para В связи с новогодними праздниками отправка заказов совершенных с 30 декабря 2019г. по 7 января 2020г. включительно будет совершена с 8 января 2020 года
            .block.mb-4
              ul.icon-list
                li.icon-list__item.icon-list__item--call Для получения более подробной информации Вы можете позвонить в клиентский отдел +7 (918) 558-05-18 или написать на почту klient@dnk-russia.com
                li.icon-list__item.icon-list__item--hanger Вы вправе отказаться от товара, если он не подошёл вам по цвету, размеру или фасону (товары, участвующие в распродаже, возврату и обмену не подлежат!)
                li.icon-list__item.icon-list__item--wallet Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид (вещь не была в носке) и потребительские свойства, а также не сорваны бирки и этикетки.
                li.icon-list__item.icon-list__item--arrows Согласно Постановлению Правительства РФ от 19 января 1998 г. N55 возврату не подлежат следующие товары надлежащего качества:
                  ul.marked-list.mt-3             
                    li.marked-list__item купальники;
                    li.marked-list__item плавки;
                    li.marked-list__item чулочно-носочные изделия;
                    li.marked-list__item бельевой трикотаж.
                li.icon-list__item.icon-list__item--exclamation Товары, приобретенные по акции 2=1 возвращаются комплектом (вещь, за которую Вы оплатили + вещь, которая пошла в подарок)
                        