.button-group
  //- button.button.button--white.button--mail почта
  button.button.button--white.button--fb facebook
  button.button.button--white.button--gg google
  button.button.button--white.button--mob смс