include ../blocks/accordion/accordion.pug
+accordion('*Информация по статусам заказов')
  ul.simple-list
    li
      dl.order__dl
          dt.order__dt-title Принят, ожидается оплата
          dd.order__dd Ваш заказ оформлен, но оплата еще не поступила. Такой заказ будет отменен через 15 минут после оформления
    li
      dl.order__dl
          dt.order__dt-title В обработке (оплачен)
          dd.order__dd Ваш заказ оформлен и оплачен. Заказ будет передан в службу доставки в течении 3- дней. В случае стартов новых коллекций и распродаж увеличен до 7 рабочих дней
    li  
      dl.order__dl
          dt.order__dt-title В обработке (админ)
          dd.order__dd Ваш заказ оформлен и оплачен. Заказ будет передан в службу доставки в течении 3- дней. В случае стартов новых коллекций и распродаж увеличен до 7 рабочих дней
    li  
      dl.order__dl
          dt.order__dt-title Комплектация заказа
          dd.order__dd Ваш заказ находится на сборке
    li  
      dl.order__dl
          dt.order__dt-title Комплектация заказа H2O
          dd.order__dd Ваш заказ находится на сборке
    li#end  
      dl.order__dl.order__dl--last-child
          dt.order__dt-title Завершен
          dd.order__dd Вы уже получили Ваш заказ или заказ передан в службу доставку более 3-х дней назад