ul.left-menu
  li.left-menu__item
    a(href='personal.html').left-menu__link Личные данные
  li.left-menu__item
    a(href='orders.html').left-menu__link История заказов
  li.left-menu__item
    a(href='club.html').left-menu__link Клуб привилегий
  li.left-menu__item
    a(href='stock.html').left-menu__link Наши акции