.button {
  position: relative;
  width: 100%;
  border: none;
  border-radius: 3px;
  background: black;
  background: #3b444b;
  color: white;
  padding: 15px 5px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  letter-spacing: 0.5px;
  box-sizing: border-box;
  text-decoration: none;
  

  &--white {
    background: white;
    color: black;
    border: 1px solid black;
    border: 1px solid #3b444b;
  }

  &--filter {
    background-image: none;
    transition: width 0.3s;
  }

  &--filter-active {
    width: 50px;
    transition: width 0.3s;
    font-size: 0;
    background-image: url(/img/icons/filter.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }

  & span {
    display: block;
    text-transform: lowercase;
  }
  
  @media(min-width: 576px) {
    max-width: 250px;
  }

  &--fb {
    &:before {
      content: '';
      position: absolute;
      left: 15px;
      width: 30px;
      height: 30px;
      background-image: url(/img/icons/facebook.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--gg {
    &:before {
      content: '';
      position: absolute;
      left: 15px;
      width: 30px;
      height: 30px;
      background-image: url(/img/icons/google.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--mail {
    &:before {
      content: '';
      position: absolute;
      left: 15px;
      width: 30px;
      height: 30px;
      background-image: url(/img/icons/mail.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--mob {
    &:before {
      content: '';
      position: absolute;
      left: 15px;
      width: 30px;
      height: 30px;
      background-image: url(/img/icons/mob.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.button-group {

  & .button {
    margin-bottom: 15px;
    
    @media(min-width: 768px) {
      margin-right: 20px;
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;

      @media(min-width: 768px) {
        margin-right: 0;
      }
    }
    
  }
  @media(min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.botton-wrapper {
  display: flex;

  .button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.button-search {
  position: absolute;
  right: 0;
  border: none;
  border-radius: 3px;
  width: 50px;
  transition: width 0.3s;
  height: 48px;
  background-image: url(/img/icons/search.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  background-color: transparent;
  display: block;
  text-decoration: none;
}