.catalog__result {
  text-align: center;
  // text-transform: uppercase;
  margin-bottom: 20px;
}

.catalog {
  margin-bottom: 40px;
}

.catalog__title {
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}