.personal-form__label {
  margin-bottom: 0;
  display: block;
  color: #8d8a8a;
  font-size: 14px;
  padding-bottom: 3px;
}

.personal-form__wrapper {
  margin: 0;
  margin-bottom: 20px;
}

.personal-page {
  margin-bottom: 20px;
}