.block.row.mb-20
  .col-12.col-md-6.mb-20.m-md-none
    img(src="http://placehold.it/540x620")
  .col-12.col-md-6
    .row
      .col-12.col-md-6.mb-20
        img(src="http://placehold.it/255x300")
      .col-12.col-md-6.mb-20
        img(src="http://placehold.it/255x300")
      .col-12.col-md-12
        img(src="http://placehold.it/540x300")
//- .block.row
//-   .col-6.col-md-3.mb-20
//-     img(src="http://placehold.it/255x300")
//-   .col-6.col-md-3.mb-20
//-     img(src="http://placehold.it/255x300")
//-   .col-6.col-md-3.mb-20
//-     img(src="http://placehold.it/255x300")
//-   .col-6.col-md-3.mb-20
//-     img(src="http://placehold.it/255x300")


