.block.row
  .col-12.col-md-6
    .row
      .col-12.mb-20
        img(src="http://placehold.it/540x300")
      .col-12.mb-20.m-md-none
        img(src="http://placehold.it/540x300")
  .col-12.col-md-6
    img(src="http://placehold.it/540x620")