.owl-carousel
  div
    img(src="http://placehold.it/1150x430").d-none.d-md-block
    img(src="http://placehold.it/500x500").d-md-none
  div
    img(src="http://placehold.it/1150x430").d-none.d-md-block
    img(src="http://placehold.it/500x500").d-md-none
  div
    img(src="http://placehold.it/1150x430").d-none.d-md-block
    img(src="http://placehold.it/500x500").d-md-none