include ../basket_offer/basket_offer.pug

mixin basket-list()
  ul.basket-list
    li.basket-list__item
      +basket_offer('Юбка NoSignal желтая SALE', '1', '1 200', '20', '/img/look_2.jpg')
    li.basket-list__item
      +basket_offer('Юбка NoSignal желтая SALE', '1', '1 200', '20', '/img/look_3.jpg')

